
header {
    text-align: center;
    padding: 20px;
    color: #8a1919;
}

h1 {
    text-decoration: underline;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.color {
    font-weight: bold;
    color: #e44d26;
}